body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.back-button img {
    width: 40px;
    height: 40px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    /* border: 2px solid #fff;*/
}

.app-name {
    font-size: 34px;
    font-weight: 600;
    margin: 0;
    color: #f0f0f0;
}

.description {
    text-align: center;
    margin: 40px 0;
    font-size: 22px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 30px;
}

.box {
    width: 220px;
    height: 300px;
    text-align: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
	padding:10px;
}

.box img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

.box h3 {
    font-size: 24px;
    margin: 20px 0 10px;
}

.box p {
    font-size: 16px;
    margin: 0 15px 20px;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.3);
}

footer {
    background: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
    text-align: center;
    padding: 4px 10px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}
